:root{
    --prime:rgb(35, 35, 35);
    --sec:rgb(159, 159, 159);
    --dark:rgb(153, 144, 144);
    --text:rgb(121, 121, 121);
    --button:rgb(54, 54, 54);
    --colo:#505050;

}


*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--text);
    user-select: none;
}

body{
    /* background: url(https://img.freepik.com/free-photo/colorful-abstract-textured-background-design_53876-108265.jpg?w=996&t=st=1708778019~exp=1708778619~hmac=a2c2cc82385a869f6480d36e7d57be51d21e85e2f214ac514223f3574a3b8e34); */
    margin: 0;
    background-color: var(--prime);
}

.buttonDiv{
    height: 40px;
    display: flex;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    position: sticky;
    top: 200px;
   
}

button{
  width: 100%;
  background-color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  border-bottom: none;
}
.head{
    height: 200px;
    background:url(https://img.freepik.com/free-vector/monogram-line-seamless-pattern_8830-622.jpg?w=740&t=st=1709294644~exp=1709295244~hmac=a437c856524f7217faed627951a2d2d26fac3667ee04c1d222de24f36171241c);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: sticky;
    top: 0px;
    box-shadow: 0 0 58px black;
}
.head-content{
    text-align: center;
    padding: 10px;
    width: 60vw;
    border-radius: 30px;
    margin-top: 10px;
    background: transparent;
    backdrop-filter: blur(3px);
}

.main{
    display: flex;
    flex-direction: row;
}

.aside{
    width: 30%;
    margin: 1%;
    height: fit-content;
    border-radius: 20px;
    position: sticky;
    top: 200px;
    filter: drop-shadow(20px 4px 5px black);
    margin-top: 10px;
}

.tabs{
   width: 67%;
   margin: 1%;
   background-color: rgb(48, 48, 48);
   border-radius: 10px;
   box-shadow: 0px 0px 10px black;
}

.content{
    padding: 7%;
}

